    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-7">
        <h1 class="my-4">
          Articles
          <small>Latest ones</small>
        </h1>

        <!-- Blog Post -->
        <div class="card mb-4" *ngFor="let article of items  | paginate: { itemsPerPage: 10, currentPage: p }">
          <img class="card-img-top" [src]="_DomSanitizationService.bypassSecurityTrustUrl(article.imageUrl)" alt="Card image cap" />
          <div class="card-body">
            <h2 class="card-title">{{article.title}}</h2>
            <p class="card-text">
              {{article.subtitle}}
            </p>
            <a class="btn btn-primary" [routerLink]="['/articles/',article.id]">Read More &rarr;</a>
            <a class="btn btn-warning" [routerLink]="['/articles/edit',article.id]" *ngIf="currentUser">Edit</a>
            <a class="btn btn-danger" (click)="delete(article.id)" *ngIf="currentUser">Delete</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{article.creationDate | date: 'MMM d, y, h:mm:ss a'}} by
            <a href="#">{{article.author}}</a>
          </div>
        </div>

        <!-- Pagination -->

        <ul class="pagination justify-content-center mb-4">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and
            feature the new Bootstrap 4 card containers!
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
