<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Edit Article</h5>
  <div class="card-body">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-6">
          <label>Title</label>
          <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && articleForm.controls['title'].errors }" />
          <div *ngIf="submitted && articleForm.controls['title'].errors" class="invalid-feedback">
            <div *ngIf="articleForm.controls['title'].errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Sub Title</label>
          <input type="text" formControlName="subtitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && articleForm.controls['subtitle'].errors }" />
          <div *ngIf="submitted && articleForm.controls['subtitle'].errors" class="invalid-feedback">
            <div *ngIf="articleForm.controls['subtitle'].errors.required">
              Sub Title is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Image URL</label>
        <input type="text" formControlName="imageUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && articleForm.controls['imageUrl'].errors }" />
        <div *ngIf="submitted && articleForm.controls['imageUrl'].errors" class="invalid-feedback">
          <div *ngIf="articleForm.controls['imageUrl'].errors.required">
            Image URL is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Author</label>
        <input type="text" formControlName="author" class="form-control" [ngClass]="{ 'is-invalid': submitted && articleForm.controls['author'].errors }" />
        <div *ngIf="submitted && articleForm.controls['author'].errors" class="invalid-feedback">
          <div *ngIf="articleForm.controls['author'].errors.required">Author is required</div>
        </div>
      </div>

      <div class="form-group has-feedback">
        <quill-editor formControlName="body" [styles]="{height: '200px'}"></quill-editor>
        <div *ngIf="submitted && articleForm.controls['body'].errors" class="invalid-feedback">
          <div *ngIf="articleForm.controls['body'].errors.required">Body is required</div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mr-1">Save</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()" [routerLink]="['/articles']">Cancel</button>
      </div>
    </form>
  </div>
</div>
