<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/articles/add']" *ngIf="currentUser">New Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/notifications']" *ngIf="currentUser">Notitifations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" *ngIf="!currentUser">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" *ngIf="!currentUser">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
