<mat-list>
  <h3 mat-subheader>Notifications</h3>
  <mat-list-item *ngFor="let item of items  | paginate: { itemsPerPage: 5, currentPage: p }">
    <mat-icon mat-list-icon>notifications</mat-icon>
    <h4 mat-line>{{item.author}} add new Article {{item.title}} </h4>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<br>
<br>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
